body {
	color: white;
}

.cc {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
}

.newgame {
	padding: 1rem;
	background: lime;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0.5rem;
	border: 1px solid white;
}

.undo {
	padding: 1rem;
	background: lime;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0.5rem;
	border: 1px solid white;
}

.controls {
	width: 960px;
	height: 100%;
	background: #222;
	padding: 1rem;
}

#locations, #itemcount {
	color: black;
}

.board {
	width: 960px;
	height: 100%;
	background: black;
}

.board2 {
	width: 960px;
}

#hits {
	width: 480px;
	word-wrap: break-word;
}

#rootinternal {
	position: relative;
	left: 162px;
	width: 494px;
	height: 494px;
	display: grid;
	grid-template-columns: 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px;
	border: 1px solid #a59263;
	background: black;
}

#root {
	position: relative;
	top: 220px;
	left: 162px;
	width: 494px;
	height: 494px;
	display: grid;
	grid-template-columns: 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px 
	 49.4px;
	border: 1px solid #B4D6E4;
	background: transparent;
}

#videohit, #videomiss {
	display: none;
	position: absolute;
	z-index: -1;
	top: 220px;
	left: calc(960px + 162px);
	width: 494px;
	height: 494px;
	border: 1px solid #a59263;
	background: black;
}

.item1 {
	width: 49.4px;
	height: 49.4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #B4D6E4;
	font-weight: 700;
	background: #2B5F8C;
}

#fill {
	width: 49.4px;
	height: 49.4px;
	background: #2B5F8C;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #B4D6E4;
}

.item1alt {
	min-width: 49.4px;
	min-height: 49.4px;
	border: 1px solid #B4D6E4;
	background: transparent;
}

.item1dd {
	width: 49.4px;
	height: 49.4px;
	border: 1px solid #B4D6E4;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #B4D6E4;
	font-weight: 700;
}

.item2 {
	border: 1px solid #B4D6E4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #B4D6E4;
	font-weight: 700;
}

.item2alt {
	border: 1px solid #B4D6E4;
	background: red;
}

.item2dd {
	border: 1px solid #a59263;
	background: green;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #B4D6E4;
	font-weight: 700;
}

.buttonOff {
	width: 49.4px;
	height: 49.4px;
	border: 1px solid #B4D6E4;
	color: #B4D6E4;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.buttonOn {
	width: 49.4px;
	height: 49.4px;
	border: 1px solid #B4D6E4;
	color: #a59263;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}